*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    font-weight: 400;
    color: gray;
}

/* utility */
.container{
    width: 1200px;
    margin: 0 auto;
}

.pad-o{
    padding-left: 10px;
    padding-right: 10px;
    }

.marg-b{
    margin-bottom: 40px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


/* debug-box */
.debug-box{
    height: 30px;    
}

/* header */
.brand img{
    width: 165px;
}

.brand{
    display: inline-block;
}

.main-nav li{
    display: inline-block;
    list-style: none;
    margin-right: 12px;
}

.main-nav li a{
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
}

.main-nav li a:hover{
    color: black;
}

/* article */
article{
    width: 100%;
  
}

.b-container{
    width: 100%;
    height: 500px;
    background-image: url(../htmlcss-wp/img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 10px;
    position: relative;
}

.b-title .b-txt{
    display: inline-block;
    position: absolute;
    left: 40px0;
    bottom: 50px;
}



   

/* main content */
.sidebar, .main-content{
    float: left;
    padding-bottom: 15px;
}

.title{
    width: 100%;
    background: royalblue;
    padding-bottom: 15px;
}
.sidebar{
    width: 25%;
    background: royalblue;
}

.main-content{
    width: 50%;
    background: royalblue;
}

.txt-aside, .txt-content, .txt-title{
    background: lightblue;
}

main{
    margin-bottom: 5px;
}

.txt-footer{
    background: darkorchid;
}