*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    font-weight: 400;
    
    
}

/* utility */
.container{
    width: 1200px;
    margin: 0 auto;
}

.pad-o{
    padding-left: 10px;
    padding-right: 10px;
    }

.marg-b{
    margin-bottom: 40px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.heart{
    color: red;
}

/* header */
.brand img{
    width: 165px;
}

.brand{
    display: inline-block;
}

.main-nav li{
    display: inline-block;
    list-style: none;
    margin-right: 12px;
}

.main-nav li a{
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
}

.main-nav li a:hover{
    color: black;
}

/* article */
article{
    width: 100%;
  
}

.txt-container{
    width: 500px;
    position: absolute;
    left: 40px;
    bottom: 50px;
    color: white;
}

.b-container{
    width: 100%;
    height: 500px;
    background-image: url(../htmlcss-wp/img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    
}

.b-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.txt-container h2{
    font-weight: 700;
}


/* main content */

.txt-title h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5px;
}


.sidebar, .main-content{
    float: left;
    padding-bottom: 15px;
}

.title{
    width: 100%;
    padding-bottom: 15px;
}
.sidebar{
    width: 20%;
}

.main-content{
    width: 60%;
}

main{
    margin-bottom: 5px;
}


/* sidebar */
 
.s-txt p{
    color: grey;
}

.m-txt p{
    color: grey;
}


 .s-img1{
     width: 100%;
     height: 200px;
     background-image: url(../htmlcss-wp/img/img-1.jpg);
     background-size: cover;
     background-position: center;
     border-radius: 10px;
 }

 .m-img{
    width: 100%;
    height: 200px;
    background-image: url(../htmlcss-wp/img/banner-2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    
 }

 .s-img2{
    width: 100%;
    height: 200px;
    background-image: url(../htmlcss-wp/img/img-2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.s-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    border-radius: 10px;
}

/* footer */

.footer-txt{
    text-align: center;
    margin-top: 20px;
}
